@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex min-h-screen flex-col justify-between dark:bg-darkModeNeutral-800;
}

section {
  @apply my-16;
}

td {
  @apply flex items-center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
